:root {
    font-size: 62.5%;
}

.nav-bar {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 1.5rem;
    position: sticky;
    padding-left: 5rem;
    padding-right: 5rem;
}

.left-logo {
    grid-column: 1 / 2;
    min-width: fit-content;
    text-wrap: nowrap;
}

.nav-buttons {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    justify-self: right;
    gap: 5rem;
    align-self: center;
}

.add-button {
    grid-column: 1 / 2;
}

.connect-button {
    grid-column: 2 / 3;
}

.apply-button {
    grid-column: 3 / 4;
}

.reconnect-button {
    grid-column: 4 / 5;
}

.update-button {
    grid-column: 5 / 6;
}

body {
    display: grid;
    /* justify-items: center;
    justify-content: center; */
}

.add-form {
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
    justify-items: center;
    justify-self: center;
    display: grid;
    width: 50rem;
    padding: 2rem;
    /* grid-template-columns: repeat(2, 1fr); */
}

.add-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.position-div {
    grid-column: 1 / 2;
}

.company-div {
    grid-column: 2 / 3;
}

.deadline-div {
    grid-column: 1 / 2;
}

.location-div {
    grid-column: 2 / 3;
}

.link-div {
    grid-column: 1 / 2;
}

.add-form-button {
    border-radius: 1rem;
    background-color: #1768ac;
    padding: .5rem;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}